
<h1 class="words-banner">Words</h1>
 

 <ul>
  <% @articles.each do |article| %>
      <li><b><%= link_to article.title, article_path(article) %></b><br>
        <%= image_tag article.image, :class => "listed-article-image" %></div>
      </li>
  <% end %>
  </ul>
