<div class= "video-show">
    <h1 class= "video-title"><%= @video.title %></h1>

    <iframe width="460" height="280" src="<%=@video.src%>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

    <div class="homepage-video-summary">
                <p><%=@video.summary%></p>
    </div>
    
</div>