
<div class="masthead">
    <h1><em>motion</em></h1>
</div>
<nav class="portfolio_navigation">
    <ul>
        <li><a href="">home</a></li>
        <li><a href="">words</a></li>
        <li><a href="">videos</a></li>
        <li><a href="">about</a></li>
    </ul>
</nav>

<pre> 

    coool. 
hopefully.
    this
         works.
</pre.>



<!-- <%= link_to 'My Blog', controller: 'articles'%> -->

<!-- <%= link_to 'New article', new_article_path %> -->
