<div class="about_title">
  <h1><a href="/">ILLUSTRATIVE MOTION</a></h1>
</div>

<div class="about_content">
    <p>Illustrative Motion provides film production services to real people doing real things.</p></div>