/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



/*.body{
    background-color: ##001f3f;
}*/



.main-title{
    position: fixed;
   /* bottom: 0;*/
   text-align: center;
    margin: 0;
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    font-family: DIDOT;
}

.main-title a{
    text-decoration: none;

}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%; 
    height: 100%;
}

.about_title{
    position: fixed;
    text-align: center;
    margin: 0;
    color: black;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    font-family: DIDOT;
}

.about_title a{
    text-decoration: none;
    border-bottom: 1px solid black;

}

.about_content{
    position: fixed;
    text-align: center;
    margin: 0;
    width: 100%;
    margin-top: 10%;
    font-family: Georgia;

  
}

.shell{
    width: 970px;
    margin: 0 auto;
    position: relative;
}



.masthead {
    position: relative;
    height: 160px;
    min-height: 80px;
    padding: 8px 0;
   /* border-top: 1px solid #e2e2e2;*/
    border-bottom: 2px solid #1895c4;
    background: url(background_building.png) no-repeat center top;;
} 
/* #e2e2e2 */

.masthead h1{
    /*color:##001f3f;*/
   /* color: #9babba; */
    color: white;
    font-size: 400%; 
    margin-top: 60px;
    font-family: HelveticaNeue;
    font-weight: bold;
/*    margin-left: 5%;*/
    text-align: center;
}

.portfolio_navigation{
    list-style: none;
    display: inline;
    margin: 0 0 1em 0;
    text-align: center;
    position: fixed;


    bottom: 0;
   /* background: rgba(0, 0, 0, 0.5);*/
    width: 100%;
    padding: 20px;
}



.portfolio_navigation ul li{
    display: inline-block;
    font-family: Generica;
    font-weight: bold;
    color: White;


}

.portfolio_navigation ul li a{
    text-decoration: none;
    color: white;
    font-size: 200%;
    display: inline-block;
    margin: 5px 2px 5px 0;
    padding: 0 4px;
    text-align: center;
}



a:visited {
    text-decoration: none;
}

a{
    text-decoration: none;
    color: inherit;
}



