// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.listed-article-image{
    width: 275px;
    height:260px;
}

ul{
    list-style-type: none;
}

.article-show-image{
    width: 275px;
    height:260px;
}

.artile-show-title{
    font-size: 72px;
}