// Place all the styles related to the Videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.video-show{
    margin: 0 auto;
    margin-top: 2%;
    width: 400px;
}

.video-title{
    font-size: 80px;
}